// VARIABLES COULEURS
$couleur-primaire: #9356DC;
$couleur-sec: #ff79da;
$couleur-sec-b: #ff79d923;
$couleur-sec-c: #ff79d913;
$couleur-ter: #99e2d0;
$couleur-ter-b: #b9f8eb;
$couleur-text: #fff;

// VARIABLES BREAKPOINTS
$desktop: 1074px;
$tablette: 1073px;
$mobile: 442px;
