// IMPORTS DES PARTIELS
@import './resets';
@import './variables';

// MAP DE TAILLES DE POLICE
$taille-pol: (
  "h1": 2rem,
  "h2": 1.8rem,
  "h3": 1.6rem,
  "h4": 1.4rem,
  "h5": 1.2rem,
  "parag": 1rem,
  "petite": 0.8rem,
  "mini": 0.6rem
);

// FONCTIONS - utiliser avec des VALEURS
@function tailletext($taille) {
  @return map-get($taille-pol, $taille)
};

// MIXINS - utiliser pour styliser
// FLEXEUR CI DESSOUS
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// STYLISATION DES BOUTONS FONCTIONNEMENT
@mixin bton-fctnmt($minwidth) {
  background-color: $couleur-sec-c;
  border: none;
  border-radius: 1em;
  color: black;
  margin-bottom: 1.4em;
  padding: 1.7em 2em 1.7em 2em;
  min-width: $minwidth;
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: tailletext(h5);
  font-weight: 700;
  box-shadow: 
      /*horizontal*/ 0 
      /*vertical*/ 0.3em 
      /*floutage*/ 0.6em 
      /*decalage*/  
      #61616136;
}

// STYLISATION DES IMAGES RESTAURANTS
@mixin style-image($objectposition) {
  width: 100%;
  height: 65%;
  object-fit: cover;
  object-position: $objectposition;
  border-radius: 1.3em 1.3em 0 0;
}

// POUR MEDIA QUERY : BREAKPOINT
@mixin breakpoint($maxwidth) {
  @media (max-width: $maxwidth) {
    @content;
  }
}

// POLICES TEXTE
h1 {
  font-family: 'Shrikhand', cursive;
}

h2, h3, h4, h5, p {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: tailletext(parag);
}
// 

body {
  // background-color: blue;

    #{&}__childelement {
      // avec #{&} tout le css ici est aussi applique au parent ci-dessus
    }
}

.header {
  
    &__logo {
    @include flexCenter(row);
    margin: 0 0 -0.6em 0;
    padding: 2em 0;
    }

    // BOITE INCLUANT : INPUT RECH + TEXTE INTRO + BOUTON EXPLO
    &__boite-rech-intro-bton {
      
      // BOITE INPUT RECH
      &__rech {
          @include flexCenter(row);
          height: 4.5em;
          // margin: -0 -0 -0 -0;
          box-shadow: 
          /*horizontal*/ 0 
          /*vertical*/ 0.2em 
          /*floutage*/ 0.4em 
          /*decalage*/ -0.2em 
          #61616169 inset;
        }

        i {
          font-size: tailletext(h4);
          padding: 
          /*TOP*/ 0
          /*DRT*/ 1em
          /*BAS*/ 0.1em
          /*GCH*/ 0;
        }

        &__rech, &__rech input {
          background-color: $couleur-ter-b;
        }
      
        &__rech input {
          border-style : none;
          max-width: 10em;
          

            &[placeholder] {
              font-size: tailletext(h5);
              font-weight: bold;
            }

            &::placeholder {
              color: rgba(0, 0, 0, 0.734);
            }

            &:focus {
              outline: none;
            }
        }

      // BOITE INTRO/TEXTE + BTON RECH
      &__intro-bton {

        padding: 3em 1.7em;
        background-color: $couleur-sec-b;
        text-align: center;

        h2 {
          font-size: tailletext(h2);
        }

        h3 {
          font-size: tailletext(h4);
          font-weight: 300;
          padding: 
          /*TOP*/ 0.8em
          /*DRT*/ 0
          /*BAS*/ 2em
          /*GCH*/ 0;
        }

        &__bton {
          background-image: linear-gradient(360deg, $couleur-primaire, $couleur-sec);
          border: none;
          border-radius: 5em;
          color: white;
          margin-bottom: 1.4em;
          padding: 1.1em 2em;
          text-decoration: none;
          display: inline-block;
          font-family: 'Roboto', sans-serif;
          font-size: tailletext(h5);
          box-shadow: 
          /*horizontal*/ 0 
          /*vertical*/ 0.5em 
          /*floutage*/ 0.6em 
          /*decalage*/  
          #61616146;
        }
      }
    }
}

.main {
  background-color: #fff;

  // TITRE FONCTIONNEMENT
  h2 {
    font-size: tailletext(h2);
    margin: 2em 0 1.5em 1em;
  }

  // BOITE FONCTIONNEMENT AVEC 3 BOUTONS
  &__aside {
    @include flexCenter(column);
    flex-flow: row wrap;
    gap: 3em;
    padding: 0 3em;

    // BREAKPOINT
    @include breakpoint($mobile) {
      gap: 0.5em;
    }

    &__bton-chois {
      @include flexCenter(row);
      @include bton-fctnmt(18em);
      
      position: relative;
      transition: 500ms;

      // BREAKPOINT
      @include breakpoint($mobile) {
        @include bton-fctnmt(17em);
  
      }

      &__pastille {
        background-color: $couleur-primaire;
        border: none;
        border-radius: 5em;
        color: black;
        margin-bottom: 1.4em;
        padding: 0.2em 0.5em;
        text-decoration: none;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: tailletext(h5);
        
        position: absolute;
        z-index: 1;
        left: -0.8em;
        bottom: 0.3em;

        &__p {
          color: white;
          font-size: tailletext(h5);
          font-weight: 400;
        }
      }

      &:hover {
        background-color: $couleur-sec-b;
        transition: 500ms;
      }

      &__h5 {
        text-align: left;
        font-size: tailletext(h5);
        display: inline-block;

        // BREAKPOINT
        @include breakpoint($mobile) {
          font-size: tailletext(parag);
    
        }
      }

      i {
        padding: 
        /*TOP*/ 0
        /*DRT*/ 1em
        /*BAS*/ 0
        /*GCH*/ 0;
        font-size: tailletext(h3);
        color: grey;
        transition: 1s;

        &:hover {
          color: $couleur-primaire;
          transition: 0.5s;
        }
      }
    }
  }

  // BOITE 4 CARTES RESTAURANTS
  &__sctn-4restos {
    background-color: $couleur-sec-b;
    padding: 
    /*TOP*/ 0
    /*DRT*/ 0
    /*BAS*/ 4em
    /*GCH*/ 0
    ;

    h2 {
      font-size: tailletext(h2);
      padding: 
      /*TOP*/ 2em
      /*DRT*/ 0
      /*BAS*/ 0
      /*GCH*/ 0;
    }

    &__4cartes {
      @include flexCenter(column);
      gap: 1.8em;
      width: 85%;
      
      margin: auto;
      
      &__carte {
        background-color: #fff;
        border-radius: 1.5em;
        color: black;
        text-decoration: none;
        height: 19em;
        width: 100%;
        box-shadow: 
        /*horizontal*/ 0 
        /*vertical*/ 0.3em 
        /*floutage*/ 0.6em 
        /*decalage*/  
        #61616136;

        position: relative;

        i {
          font-size: tailletext(h2);
          color: $couleur-sec-b;
          position: absolute;
          top: 72%;
          left: 86%;

          &:hover {
            background: linear-gradient(360deg, $couleur-primaire, $couleur-sec);
            background-clip: text;
          }
        }

        &__vignette-nveau {
          position: absolute;
          left: 70%;
          top: 6%;
          border-radius: 0.1em;
          width: 24%;
          background-color: rgb(208, 208, 208);
          padding: 0.5em;

          font-size: tailletext(parag);
          font-weight: 600;
          font-family: 'Roboto', sans-serif;
          text-align: center;
          color: #916083;
        }
      }

      img {
        @include style-image(bottom center);
      }

      #img-noteench {
        @include style-image(center -9em);

      }

      h3 {
        padding: 
        /*TOP*/ 0.7em
        /*DRT*/ 0
        /*BAS*/ 0.3em
        /*GCH*/ 0.8em;
        font-size: tailletext(h4);
      }
      
      h4 {
        padding: 
        /*TOP*/ 0
        /*DRT*/ 0
        /*BAS*/ 1em
        /*GCH*/ 0.8em;
        font-size: tailletext(h4);
        font-weight: 300;

      }
    }
  }

}

.footer {
  background-color: rgb(38, 38, 38);
  padding: 2em 2em;
  
  // LOGO
  h1 {
    font-size: tailletext(h4);
    font-weight: 400;
    padding-bottom: 1.1em;
    color: white;
  }

  &__wrappeur {
    flex-flow: row wrap;
    gap: 10em;

    @include breakpoint($mobile) {
      flex-flow: column nowrap;

      .footer__wrappeur__boite-drte {
        padding: 0;
      }

      .footer__wrappeur__boite-gche {
        width: 15em;
      }
    }

    a {
      text-decoration: none;
      color: white;
    }

    &__boite-gche {
      width: 24em;
      display: inline-block;

      &__icone-text {
        @include flexCenter(row);
        width: 13em;
        gap: 1em;
        justify-content: flex-start;
        padding-bottom: 0.6em;
        font-weight: 500;
      }
    }

    & > h1, i {
      color: white;
    }

    & .fa-handshake {
      transform: rotate(-45deg);
      font-size: 0.70em;
    }

    &__boite-drte {
      display: inline-block;

      &__p {
        font-weight: 300;
        padding-bottom: 0.6em;
      }
    }
}

}