// IMPORTS DES PARTIELS
@import './resets';
@import './variables';

// MAP DE TAILLES DE POLICE
$taille-pol: (
  "h1": 2rem,
  "h2": 1.8rem,
  "h3": 1.6rem,
  "h4": 1.4rem,
  "h5": 1.2rem,
  "parag": 1rem,
  "petite": 0.8rem,
  "mini": 0.6rem
);

// FONCTIONS - utiliser avec des VALEURS
@function tailletext($taille) {
  @return map-get($taille-pol, $taille)
};

// MIXINS - utiliser pour styliser
// FLEXEUR CI DESSOUS
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin underline($width) {
  background-color: $couleur-ter;
  height: 0.3em;
  // padding-top: 1em;
  width: $width;
  // margin-left: 2em;
}


// POUR MEDIA QUERY : BREAKPOINT
@mixin breakpoint($maxwidth) {
  @media (max-width: $maxwidth) {
    @content;
  }
}

// POLICES TEXTE
h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 100;
}

h2, h3, h4, h5, p {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: tailletext(parag);
}

//  BODY

.header {
  margin: auto;
  width: 100%;

  &__flexbox {
    @include flexCenter(row);
    // flex-flow: row wrap;
    justify-content: flex-start;
    // LE GAP MAINTIENT LE LOGO AU CENTRE ET LA FLECHE A GAUCHE EN RES > TABLET
    gap: calc(38% + 3em);
    padding: 2em 3em 1em 3em;

    // BREAKPOINT
    @include breakpoint(755px) {
      // MAINTIENT LE LOGO AU CENTRE ET LA FLECHE A GAUCHE EN RES < MOBILE
      gap: 30%;
    }

    // BREAKPOINT
    @include breakpoint(475px) {
      // MAINTIENT LE LOGO AU CENTRE ET LA FLECHE A GAUCHE EN RES < MOBILE
      gap: 15%;
    }

    &__arrow__i {
      font-size: tailletext(h4);
      transition: 0.5s;
      
      // BREAKPOINT
      @include breakpoint($mobile) {
      // MAINTIENT LE LOGO AU CENTRE ET LA FLECHE A GAUCHE EN RES < MOBILE
      font-size: tailletext(h4);
      }
    
      &:hover {
        transform: scale(1.5,1.5);
        transition: 0.3s ease-in-out;
      }
    }
    
  }

  &__pic {
    height: 32rem;
    position: relative;

    @include breakpoint($mobile) {
      height: 16rem;  
    }

    // IMAGE HERO
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      transition: 0.5s;

      &:hover {
        object-position: center bottom;
        transition: 0.9s ease-in-out;
      }
    }

    // PARTIE BASSE DE L'IMAGE HERO (HAUT DE PAGE AVEC COINS ARRONDIS)
    &__top-bg {
      background-color: $couleur-ter-b;
      width: 100%;
      height: 3rem;
      position: absolute;
      bottom: 0;
      border-radius: 2.5em 2.5em 0 0;
    }

  }


}

.flexeur-prix {
  @include flexCenter(row);
  justify-content: space-between;

  & .prix {
    font-weight: 900;
    transition: 0.3s;
  }

  // Effet des "..." quand le sous texte d'un plat est reduit
  & p:nth-child(1) {
    // Le texte n'est pas casse en plusieurs lignes
    white-space: nowrap;
    // Le texte est masque quand sa box est reduite
    overflow: hidden;
    // ajoute les ... au bout du texte
    text-overflow: ellipsis;
  }
}

.main {
  background-color: $couleur-ter-b;
  margin-top: -0.1em;

  // NOM RESTO
  &__title {
    @include flexCenter(row);
    padding: 0 1em 2em 2em;
    justify-content: flex-start;
    gap: 1em;

    // BREAKPOINT
    @include breakpoint($mobile) {
      padding: 0 1em 2em 1em;
    }

    &__i {
      font-size: tailletext(h2);
      color: $couleur-ter;

      &:hover {
        color: $couleur-primaire;
      } 
    }
  }

  // BOX ENTREES PLATS DESSERT AVEC FLEX WRAP EN BREAKPOINT > MOBILE
  & .flexeur-wrap {
    padding: 0 2em 2em 0;

    @include flexCenter(row);
    flex-wrap: wrap;
    align-items: flex-start;

    & .main__entrees {
      width: 33%;
    }

    @include breakpoint($tablette) {
      & .main__entrees {
        padding-bottom: 2em;
        width: 50%;
      }
    }

    @include breakpoint($mobile) {
      display: block;
      padding-right: 0;

      & .main__entrees {
        padding-bottom: 2em;
        width: 100%;
      }
    }

  }

  // CATEGORIE DU MENU
  &__entrees {
    background-color: $couleur-ter-b;
    
    &__titre {
      padding: 0 0 0.5em 0;
      margin-left: 2em;
      
      &__p {
      font-weight: 300;
      padding-bottom: 0.5em;
      }  
    
      &__underline {
        @include underline(6em);
      }

      // CAPSULE 1 FRICASSEE
      &__plat {
        background-color: #fff;
        border-radius: 1.3em;
        padding: 1em 1.2em 1em 1em;
        margin: 1.2em 0 0 0;
        position: relative;
        overflow: hidden;

        box-shadow: 
        /*horizontal*/ 0 
        /*vertical*/ 0.5em 
        /*floutage*/ 0.6em 
        /*decalage*/  
        #7e7e7e46;

        @include breakpoint($mobile) {
          width: 95%;
        }

        & h3 {
          padding-bottom: 0.3em;
        }
        
        // BOX HOVER AVEC COCHE SELECTION
        & .box-hover {
          position: absolute;
          top: 0;
          left: 100%;
          transition: 0.3s;

          height: 100%;
          border-radius: 0 1.3em 1.3em 0;
          width: 80px;
          background-color: $couleur-ter;

          & i {
            padding: 0.85em 0.8em;
            font-size: tailletext(h2);
            color: #fff;
            transform: rotate(-45deg);
            transition: 0.3s;
          }
        }

        &:hover {
          & .box-hover {
            left: calc(100% - 79.5px);
            cursor: pointer;
            transition: 0.3s ease-in;

            & i {
              transform: rotate(0deg);
              transition: 0.4s ease-in-out 0.2s;
            }
          }

          & .flexeur-prix .prix {
            padding-right: 80px;
            transition: 0.3s ease-in;
          }
        }
      }
    }
  }

  & .box-btn {
    @include flexCenter(row);

    &__cmder {
      border-radius: 2em;
      height: 2.7em;
      padding: 0.8em 2.6em;
      border-width: 0;
      margin: 1em 0 4em 0;
      
      font-size: tailletext(h4);
      color: #fff;
      text-decoration: none;
      font-family: "Roboto", sans-serif;

      background-image: linear-gradient(360deg, $couleur-primaire, $couleur-sec);

      box-shadow: 
      /*horizontal*/ 0 
      /*vertical*/ 0.5em 
      /*floutage*/ 0.6em 
      /*decalage*/  
      #7e7e7e46;
      transition: 0.4s;

      &:hover {
        background-image: linear-gradient(360deg, #b37cf5, #ffa1e4);
        box-shadow: 
        /*horizontal*/ 0 
        /*vertical*/ 0.5em 
        /*floutage*/ 0.6em 
        /*decalage*/  
        #44444475;
        transform: scale(1.2,1.2);
        transition: 0.3s ease-in-out;
      }

      @include breakpoint($mobile) {
        margin: 0 0 3em 0;
      }
    }
  }

  // BREAKPOINTS : MARGE GAUCHE SUR RES < MOBILE POUR LES TITRES DES ENTREES PLATS DESSERTS
  &__entrees__titre {
    @include breakpoint($mobile) {
      // padding: 0 0 0.5em 1em;
      margin-left: 1em;
    }
  }
}

.footer {
  background-color: rgb(38, 38, 38);
  padding: 2em 2em;
  
  // LOGO
  h1 {
    font-size: tailletext(h4);
    font-weight: 400;
    padding-bottom: 1.1em;
    color: white;
  }

  &__wrappeur {
    flex-flow: row wrap;
    gap: 10em;

    @include breakpoint($mobile) {
      flex-flow: column nowrap;

      .footer__wrappeur__boite-drte {
        padding: 0;
      }

      .footer__wrappeur__boite-gche {
        width: 15em;
      }
    }

    a {
      text-decoration: none;
      color: white;
    }

    &__boite-gche {
      width: 24em;
      display: inline-block;

      &__icone-text {
        @include flexCenter(row);
        width: 13em;
        gap: 1em;
        justify-content: flex-start;
        padding-bottom: 0.6em;
        font-weight: 500;
      }
    }

    & > h1, i {
      color: white;
    }

    & .fa-handshake {
      transform: rotate(-45deg);
      font-size: 0.70em;
    }

    &__boite-drte {
      display: inline-block;

      &__p {
        font-weight: 300;
        padding-bottom: 0.6em;
      }
    }
}

}