// IMPORTS DES PARTIELS
@import './resets';
@import './variables';

// MAP DE TAILLES DE POLICE
$taille-pol: (
  "h1": 2em,
  "h2": 1.8em,
  "h3": 1.6em,
  "h4": 1.4em,
  "parag": 1em,
  "petite": 0.8em,
  "mini": 0.6em
);

// FONCTIONS - utiliser avec des VALEURS
@function tailletext($taille) {
  @return map-get($taille-pol, $taille)
};

// MIXINS - utiliser pour styliser
// FLEXER CI DESSOUS
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// POUR MEDIA QUERY : BREAKPOINT
@mixin breakpoint($maxwidth) {
  @media (max-width: $maxwidth) {
    @content;
  }
}


body {
  // background-color: blue;

    #{&}__childelement {
      // avec #{&} tout le css ici est aussi applique au parent ci-dessus
    }
}

main {
  // height: 400px;
  @include flexCenter(row);

  @include breakpoint($desktop){
    background-color: grey;
  }
  @include breakpoint($tablette){
    background-color: black;
  }

}

h1 {
  font-family: 'Shrikhand', cursive;
}

h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: tailletext(parag);
}