// IMPORTS DES PARTIELS
@import './resets';
@import './variables';

// MAP DE TAILLES DE POLICE
$taille-pol: (
  "h1": 2rem,
  "h2": 1.8rem,
  "h3": 1.6rem,
  "h4": 1.4rem,
  "h5": 1.2rem,
  "parag": 1rem,
  "petite": 0.8rem,
  "mini": 0.6rem
);

// FONCTIONS - utiliser avec des VALEURS
@function tailletext($taille) {
  @return map-get($taille-pol, $taille)
};

// MIXINS - utiliser pour styliser
// FLEXEUR CI DESSOUS
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// POUR MEDIA QUERY : BREAKPOINT
@mixin breakpoint($maxwidth) {
  @media (max-width: $maxwidth) {
    @content;
  }
}


body {
  // background-color: blue;

    #{&}__childelement {
      // avec #{&} tout le css ici est aussi applique au parent ci-dessus
    }
}

.header {
  
    &__logo {
    @include flexCenter(row);
    margin: 0 0 -0.6em 0;
    padding: 2em 0;
    }

    &__boite-rech-intro-bton {
      
      &__rech {
          @include flexCenter(row);
          height: 4.5em;
          margin: 0.55em -0.6em -0.6em -0.6em;
          box-shadow: 0 0.1em 0.4em 0.1em #61616169 inset;
        }

        &__rech, &__rech input {
          background-color: $couleur-ter;
        }

        i {
          font-size: tailletext(h4);
          padding-right: 1em;
        }
      
        &__rech input {
          border-style : none;
          max-width: 10em;
          

            &[placeholder] {
              font-size: tailletext(h5);
              font-weight: bold;
            }

            &::placeholder {
              color: rgba(0, 0, 0, 0.659);
            }

            &:focus {
              outline: none;
            }
        }
    }
}



main {
  @include flexCenter(column);
  background-color: #fff;
  // Breakpoints
  

  // @include breakpoint($desktop){
    
  // }
  // @include breakpoint($tablette){
    
  // }



}

h1 {
  font-family: 'Shrikhand', cursive;
}

h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: tailletext(parag);
}