// IMPORTS DES PARTIELS
@import './resets';
@import './variables';

// MAP DE TAILLES DE POLICE
$taille-pol: (
  "h1": 2rem,
  "h2": 1.8rem,
  "h3": 1.6rem,
  "h4": 1.4rem,
  "h5": 1.2rem,
  "parag": 1rem,
  "petite": 0.8rem,
  "mini": 0.6rem
);

// FONCTIONS - utiliser avec des VALEURS
@function tailletext($taille) {
  @return map-get($taille-pol, $taille)
};

// MIXINS - utiliser pour styliser
// FLEXEUR CI DESSOUS
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin underline($width) {
  background-color: $couleur-ter;
  height: 0.3em;
  // padding-top: 1em;
  width: $width;
  // margin-left: 2em;
}


// POUR MEDIA QUERY : BREAKPOINT
@mixin breakpoint($maxwidth) {
  @media (max-width: $maxwidth) {
    @content;
  }
}

// POLICES TEXTE
h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 100;
}

h2, h3, h4, h5, p {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: tailletext(parag);
}

//  BODY

.header {
  margin: auto;
  width: 100%;

  &__flexbox {
    @include flexCenter(row);
    // flex-flow: row wrap;
    justify-content: flex-start;
    // LE GAP MAINTIENT LE LOGO AU CENTRE ET LA FLECHE A GAUCHE EN RES > TABLET
    gap: 40%;
    padding: 2em 3em 1em 3em;

    // BREAKPOINT
    @include breakpoint($mobile) {
      // MAINTIENT LE LOGO AU CENTRE ET LA FLECHE A GAUCHE EN RES < MOBILE
      gap: 15%;
    }

    &__arrow__i {
      font-size: tailletext(h2);
      // BREAKPOINT
      @include breakpoint($mobile) {
      // MAINTIENT LE LOGO AU CENTRE ET LA FLECHE A GAUCHE EN RES < MOBILE
      font-size: tailletext(h4);
      
    }
    }
    
  }

  &__pic {
    // IMAGE HERO
    &__img {
      width: 100%;
      height: 16rem;
      object-fit: cover;
      object-position: center center;
      position: relative;
    }

    // PARTIE BASSE DE L'IMAGE HERO (HAUT DE PAGE AVEC COINS ARRONDIS)
    &__top-bg {
      background-color: $couleur-ter-b;
      width: 100%;
      height: 3rem;
      position: absolute;
      top: 18.5rem;
      border-radius: 2.5em 2.5em 0 0;

    }

  }


}

.flexeur-prix {
  @include flexCenter(row);
  justify-content: space-between;

  & .prix {
    font-weight: 900;
    transition: 0.3s;
  }

  & p:nth-child(1) {
    // Le texte n'est pas casse en plusieurs lignes
    white-space: nowrap;
    // Le texte est masque quand sa box est reduite
    overflow: hidden;
    // ajoute les ... au bout du texte
    text-overflow: ellipsis;
  }
}

.main {
  background-color: $couleur-ter-b;
  margin-top: -0.1em;

  &__title {
    @include flexCenter(row);
    padding: 0 1em 2em 2em;
    justify-content: flex-start;
    gap: 1em;

    // BREAKPOINT
    @include breakpoint($mobile) {
      padding: 0 1em 2em 1em;
    }

    &__i {
      font-size: tailletext(h2);
      color: $couleur-ter;

      &:hover {
        color: $couleur-primaire;
      } 
    }
  }

  &__entrees {
    background-color: $couleur-ter-b;
    
    &__titre {
      padding: 0 0 0.5em 0;
      margin-left: 2em;
      
      &__p {
      font-weight: 300;
      padding-bottom: 0.5em;
      }  
    
      &__underline {
        @include underline(4.5em);
      }

      // CAPSULE 1 FRICASSEE
      &__plat {
        background-color: #fff;
        width: 95%;
        border-radius: 1.3em;
        padding: 1em 1.2em 1em 1em;
        margin: 1.2em 0 0 0;
        position: relative;
        overflow: hidden;
        
        // BOX HOVER AVEC COCHE SELECTION
        & .box-hover {
          position: absolute;
          top: 0;
          left: 100%;
          transition: 0.3s;

          height: 100%;
          border-radius: 0 1.3em 1.3em 0;
          width: 80px;
          background-color: $couleur-ter;

          & i {
            padding: 0.85em 0.8em;
            font-size: tailletext(h2);
            color: #fff;
          }

        
        }

        &:hover {
          & .box-hover {
            left: calc(100% - 80px);
            cursor: pointer;
            transition: 0.3s ease-in;
          }

          & .flexeur-prix .prix {
            padding-right: 80px;
            transition: 0.3s ease-in;
          }
        }
      }

    }


    
  }

  // BREAKPOINTS : MARGE GAUCHE SUR RES < MOBILE POUR LES TITRES DES ENTREES PLATS DESSERTS
  &__entrees__titre {
    @include breakpoint($mobile) {
      // padding: 0 0 0.5em 1em;
      margin-left: 1em;
    }
  }
  



  
}