* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}

h2, h3, h4, h5, p {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 1rem;
}

.header {
  margin: auto;
  width: 100%;
}
.header__flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: calc(38% + 3em);
  padding: 2em 3em 1em 3em;
}
@media (max-width: 755px) {
  .header__flexbox {
    gap: 30%;
  }
}
@media (max-width: 475px) {
  .header__flexbox {
    gap: 15%;
  }
}
.header__flexbox__arrow__i {
  font-size: 1.4rem;
  transition: 0.5s;
}
@media (max-width: 442px) {
  .header__flexbox__arrow__i {
    font-size: 1.4rem;
  }
}
.header__flexbox__arrow__i:hover {
  transform: scale(1.5, 1.5);
  transition: 0.3s ease-in-out;
}
.header__pic {
  height: 32rem;
  position: relative;
}
@media (max-width: 442px) {
  .header__pic {
    height: 16rem;
  }
}
.header__pic__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  transition: 0.5s;
}
.header__pic__img:hover {
  -o-object-position: center bottom;
     object-position: center bottom;
  transition: 0.9s ease-in-out;
}
.header__pic__top-bg {
  background-color: #b9f8eb;
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  border-radius: 2.5em 2.5em 0 0;
}

.flexeur-prix {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.flexeur-prix .prix {
  font-weight: 900;
  transition: 0.3s;
}
.flexeur-prix p:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main {
  background-color: #b9f8eb;
  margin-top: -0.1em;
}
.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 1em 2em 2em;
  justify-content: flex-start;
  gap: 1em;
}
@media (max-width: 442px) {
  .main__title {
    padding: 0 1em 2em 1em;
  }
}
.main__title__i {
  font-size: 1.8rem;
  color: #99e2d0;
}
.main__title__i:hover {
  color: #9356DC;
}
.main .flexeur-wrap {
  padding: 0 2em 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.main .flexeur-wrap .main__entrees {
  width: 33%;
}
@media (max-width: 1073px) {
  .main .flexeur-wrap .main__entrees {
    padding-bottom: 2em;
    width: 50%;
  }
}
@media (max-width: 442px) {
  .main .flexeur-wrap {
    display: block;
    padding-right: 0;
  }
  .main .flexeur-wrap .main__entrees {
    padding-bottom: 2em;
    width: 100%;
  }
}
.main__entrees {
  background-color: #b9f8eb;
}
.main__entrees__titre {
  padding: 0 0 0.5em 0;
  margin-left: 2em;
}
.main__entrees__titre__p {
  font-weight: 300;
  padding-bottom: 0.5em;
}
.main__entrees__titre__underline {
  background-color: #99e2d0;
  height: 0.3em;
  width: 6em;
}
.main__entrees__titre__plat {
  background-color: #fff;
  border-radius: 1.3em;
  padding: 1em 1.2em 1em 1em;
  margin: 1.2em 0 0 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5em 0.6em #7e7e7e46;
}
@media (max-width: 442px) {
  .main__entrees__titre__plat {
    width: 95%;
  }
}
.main__entrees__titre__plat h3 {
  padding-bottom: 0.3em;
}
.main__entrees__titre__plat .box-hover {
  position: absolute;
  top: 0;
  left: 100%;
  transition: 0.3s;
  height: 100%;
  border-radius: 0 1.3em 1.3em 0;
  width: 80px;
  background-color: #99e2d0;
}
.main__entrees__titre__plat .box-hover i {
  padding: 0.85em 0.8em;
  font-size: 1.8rem;
  color: #fff;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.main__entrees__titre__plat:hover .box-hover {
  left: calc(100% - 79.5px);
  cursor: pointer;
  transition: 0.3s ease-in;
}
.main__entrees__titre__plat:hover .box-hover i {
  transform: rotate(0deg);
  transition: 0.4s ease-in-out 0.2s;
}
.main__entrees__titre__plat:hover .flexeur-prix .prix {
  padding-right: 80px;
  transition: 0.3s ease-in;
}
.main .box-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main .box-btn__cmder {
  border-radius: 2em;
  height: 2.7em;
  padding: 0.8em 2.6em;
  border-width: 0;
  margin: 1em 0 4em 0;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(360deg, #9356DC, #ff79da);
  box-shadow: 0 0.5em 0.6em #7e7e7e46;
}
@media (max-width: 442px) {
  .main .box-btn__cmder {
    margin: 0 0 3em 0;
  }
}
@media (max-width: 442px) {
  .main__entrees__titre {
    margin-left: 1em;
  }
}

.footer {
  background-color: #262626;
  padding: 2em 2em;
}
.footer h1 {
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 1.1em;
  color: white;
}
.footer__wrappeur {
  flex-flow: row wrap;
  gap: 10em;
}
@media (max-width: 442px) {
  .footer__wrappeur {
    flex-flow: column nowrap;
  }
  .footer__wrappeur .footer__wrappeur__boite-drte {
    padding: 0;
  }
  .footer__wrappeur .footer__wrappeur__boite-gche {
    width: 15em;
  }
}
.footer__wrappeur a {
  text-decoration: none;
  color: white;
}
.footer__wrappeur__boite-gche {
  width: 24em;
  display: inline-block;
}
.footer__wrappeur__boite-gche__icone-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 13em;
  gap: 1em;
  justify-content: flex-start;
  padding-bottom: 0.6em;
  font-weight: 500;
}
.footer__wrappeur > h1, .footer__wrappeur i {
  color: white;
}
.footer__wrappeur .fa-handshake {
  transform: rotate(-45deg);
  font-size: 0.7em;
}
.footer__wrappeur__boite-drte {
  display: inline-block;
}
.footer__wrappeur__boite-drte__p {
  font-weight: 300;
  padding-bottom: 0.6em;
}/*# sourceMappingURL=style_menu_1.css.map */