// IMPORTS DES PARTIELS
@import './resets';
@import './variables';

// MAP DE TAILLES DE POLICE
$taille-pol: (
  "h1": 2rem,
  "h2": 1.8rem,
  "h3": 1.6rem,
  "h4": 1.4rem,
  "h5": 1.2rem,
  "parag": 1rem,
  "petite": 0.8rem,
  "mini": 0.6rem
);

// FONCTIONS - utiliser avec des VALEURS
@function tailletext($taille) {
  @return map-get($taille-pol, $taille)
};

// MIXINS - utiliser pour styliser
// FLEXEUR CI DESSOUS
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}


// POUR MEDIA QUERY : BREAKPOINT
@mixin breakpoint($maxwidth) {
  @media (max-width: $maxwidth) {
    @content;
  }
}

// POLICES TEXTE
h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 100;
}

h2, h3, h4, h5, p {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: tailletext(parag);
}

//  BODY

.header {
  margin: auto;
  width: 100%;

  &__flexbox {
    @include flexCenter(row);
    // flex-flow: row wrap;
    justify-content: flex-start;
    // LE GAP MAINTIENT LE LOGO AU CENTRE ET LA FLECHE A GAUCHE EN RES > TABLET
    gap: 40%;
    padding: 2em 3em 1em 3em;

    // BREAKPOINT
    @include breakpoint($mobile) {
      // MAINTIENT LE LOGO AU CENTRE ET LA FLECHE A GAUCHE EN RES < MOBILE
      gap: 15%;
    }

    &__arrow__i {
      font-size: tailletext(h2);
      // BREAKPOINT
      @include breakpoint($mobile) {
      // MAINTIENT LE LOGO AU CENTRE ET LA FLECHE A GAUCHE EN RES < MOBILE
      font-size: tailletext(h4);
      
    }
    }
    
  }

  &__pic {
    // IMAGE HERO
    &__img {
      width: 100%;
      height: 16rem;
      object-fit: cover;
      object-position: center center;
      position: relative;
    }

    // PARTIE BASSE DE L'IMAGE HERO (HAUT DE PAGE AVEC COINS ARRONDIS)
    &__top-bg {
      // background-color: $couleur-ter;
      background-color: $couleur-ter-b;
      width: 100%;
      height: 3rem;
      position: absolute;
      top: 18.5rem;
      border-radius: 2.5em 2.5em 0 0;

    }

  }


}

.main {
  background-color: $couleur-ter-b;
  // height: 100%;
  margin-top: -0.1em;

  &__title {
    @include flexCenter(row);
    padding: 0 1em 2em 2em;
    justify-content: flex-start;
    gap: 1em;

    // BREAKPOINT
    @include breakpoint($mobile) {
      padding: 0 1em 2em 1em;
    }

    &__i {
      font-size: tailletext(h2);
      color: $couleur-ter;
      // transition: 1s;

      &:hover {
        color: $couleur-primaire;
        // background-clip: text;
      } 
    }
  }
}