* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}

h2, h3, h4, h5, p {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 300;
}

.header {
  margin: auto;
  width: 100%;
}
.header__flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: calc(38% + 3em);
  padding: 2em 3em 1em 3em;
}
@media (max-width: 755px) {
  .header__flexbox {
    gap: 30%;
  }
}
@media (max-width: 475px) {
  .header__flexbox {
    gap: 15%;
  }
}
.header__flexbox__arrow__i {
  font-size: 1.4rem;
  transition: 0.5s;
}
@media (max-width: 442px) {
  .header__flexbox__arrow__i {
    font-size: 1.4rem;
  }
}
.header__flexbox__arrow__i:hover {
  transform: scale(1.5, 1.5);
  transition: 0.3s ease-in-out;
}
.header__pic {
  height: 32rem;
  position: relative;
}
@media (max-width: 442px) {
  .header__pic {
    height: 16rem;
  }
}
.header__pic__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: 0.5s;
}
.header__pic__img:hover {
  object-position: center bottom;
  transition: 0.9s ease-in-out;
}
.header__pic__top-bg {
  background-color: #F6F6F6;
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  border-radius: 2.5em 2.5em 0 0;
}

.flexeur-prix {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.flexeur-prix .prix {
  font-weight: 900;
  transition: 0.3s;
}
.flexeur-prix p:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main {
  background-color: #F6F6F6;
}
.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 1em 2em 2em;
  justify-content: space-between;
  gap: 1em;
}
@media (max-width: 442px) {
  .main__title {
    padding: 0 1em 2em 1em;
  }
}
@media (max-width: 381px) {
  .main__title__p {
    font-size: 1.8rem;
  }
}
.main__title .box-heart {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 1em;
  font-size: 1.8rem;
}
.main__title .box-heart:hover > .heart-like::before {
  content: "\f004";
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: heart-full;
  animation-duration: 1s;
}
.main__title .heart-like {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes heart-full {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.main .flexeur-wrap {
  padding: 0 2em 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.main .flexeur-wrap .main__entrees {
  width: 33%;
  animation: glisse-opac 0.5s ease-in;
  transform: translateY(20%);
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes glisse-opac {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@media (max-width: 1073px) {
  .main .flexeur-wrap .main__entrees {
    padding-bottom: 2em;
    width: 50%;
  }
}
@media (max-width: 442px) {
  .main .flexeur-wrap {
    display: block;
    padding-right: 0;
  }
  .main .flexeur-wrap .main__entrees {
    padding-bottom: 2em;
    width: 100%;
  }
}
.main__entrees {
  background-color: #F6F6F6;
}
.main__entrees__titre {
  padding: 0 0 0.5em 0;
  margin-left: 2em;
}
.main__entrees__titre__p {
  font-weight: 300;
  padding-bottom: 0.5em;
  font-size: 1rem;
}
.main__entrees__titre__underline {
  background-color: #99e2d0;
  height: 0.3em;
  width: 6em;
}
.main__entrees__titre__plat {
  background-color: #fff;
  border-radius: 1.3em;
  padding: 1em 1.2em 1em 1em;
  margin: 1.2em 0 0 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5em 0.6em #7e7e7e46;
}
@media (max-width: 442px) {
  .main__entrees__titre__plat {
    width: 95%;
  }
}
.main__entrees__titre__plat h3 {
  padding-bottom: 0.3em;
}
.main__entrees__titre__plat .box-hover {
  position: absolute;
  top: 0;
  left: 100%;
  transition: 0.3s;
  height: 100%;
  border-radius: 0 1.3em 1.3em 0;
  width: 80px;
  background-color: #99e2d0;
}
.main__entrees__titre__plat .box-hover i {
  padding: 0.85em 0.8em;
  font-size: 1.8rem;
  color: #fff;
  transform: rotate(-360deg);
  transition: 0.3s;
}
.main__entrees__titre__plat:hover .box-hover {
  left: calc(100% - 79.5px);
  cursor: pointer;
  transition: 0.3s ease-in;
}
.main__entrees__titre__plat:hover .box-hover i {
  transform: rotate(0deg);
  transition: 0.4s ease-in-out 0.2s;
}
.main__entrees__titre__plat:hover .flexeur-prix .prix {
  padding-right: 80px;
  transition: 0.3s ease-in;
}
.main .box-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main .box-btn__cmder {
  border-radius: 2em;
  height: 2.7em;
  padding: 0.8em 2.6em;
  border-width: 0;
  margin: 1em 0 4em 0;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(360deg, #9356DC, #ff79da);
  box-shadow: 0 0.5em 0.6em #7e7e7e46;
  transition: 0.4s;
}
.main .box-btn__cmder:hover {
  background-image: linear-gradient(360deg, #b37cf5, #ffa1e4);
  box-shadow: 0 0.5em 0.6em #44444475;
  transform: scale(1.2, 1.2);
  transition: 0.3s ease-in-out;
}
@media (max-width: 442px) {
  .main .box-btn__cmder {
    margin: 0 0 3em 0;
  }
}
@media (max-width: 442px) {
  .main__entrees__titre {
    margin-left: 1em;
  }
}

.footer {
  background-color: #262626;
  padding: 2em 2em;
}
.footer h1 {
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 1.1em;
  color: white;
}
.footer__wrappeur {
  flex-flow: row wrap;
  gap: 10em;
}
@media (max-width: 442px) {
  .footer__wrappeur {
    flex-flow: column nowrap;
  }
  .footer__wrappeur .footer__wrappeur__boite-drte {
    padding: 0;
  }
  .footer__wrappeur .footer__wrappeur__boite-gche {
    width: 15em;
  }
}
.footer__wrappeur a {
  text-decoration: none;
  color: white;
}
.footer__wrappeur__boite-gche {
  width: 24em;
  display: inline-block;
}
.footer__wrappeur__boite-gche__icone-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 13em;
  gap: 1em;
  justify-content: flex-start;
  padding-bottom: 0.6em;
  font-weight: 500;
}
.footer__wrappeur > h1, .footer__wrappeur i {
  color: white;
}
.footer__wrappeur .fa-handshake {
  transform: rotate(-45deg);
  font-size: 0.7em;
}
.footer__wrappeur__boite-drte {
  display: inline-block;
}
.footer__wrappeur__boite-drte__p {
  font-weight: 300;
  padding-bottom: 0.6em;
}
